/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  color: var(--black);
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .accordion:hover,
.active {
  background-color: #ccc;
} */

/* Style the accordion content title */
.accordion__title {
  font-family: 'FuturaPT Demi';
  font-size: 16px;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  margin-right: 15px;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  font-family: 'Futura PT';
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-weight: 400;
  font-size: 14px;
  padding: 10px 0px;
}
