.campDetailContainer {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: min(16px, 4%);
  width: 90%;
  /* height: 100%; */
  overflow-y: auto;
  /* transition: all 700ms ease-in-out; */
  /* animation: active 1s; */
}

/* .campDetailContainer:hover {
  position: relative;
  bottom: 0;
} */

/* animation */

.ExpcardBackbtn {
  align-self: flex-start;
  margin-bottom: 16px;
}

.ExpcardBackbtnImg {
  height: 15px;
  width: 15px;
}

.campDetailContainer::-webkit-scrollbar {
  display: none;
}

.ExpcardImg {
  height: 200px;
  width: 100%;
}

.ExpcardImgContainer {
  width: 100%;
}

.ExpcardContainer {
  max-width: 450px;
  width: 100%;
  /* c */
  height: min-content;
  position: relative;
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(0px 3px 5px #dfdfdf);
}

.ExpshareImg {
  height: 20px;
  width: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.ExpRightItem {
  font-family: 'FuturaPT Demi';
  background-color: white;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.ExpcardContentArea {
  background-image: url('../../assets/confettibg.png');
  padding: 10px;
}

.ExpcardContentTitle {
  font-family: 'FuturaPT Demi';
  font-size: 24px;
}

.ExpcardContentDesc {
  font-family: 'FuturaPT Light';
  font-size: 18px;
  color: rgb(77, 77, 77);
}

.ExpcardContentFlex {
  display: flex;
  font-family: 'FuturaPT Light';
  font-size: 18px;
  margin: 10px 0px;
  align-items: center;
  gap: 10px;
}

.ExpitemImg {
  height: 20px;
  width: 20px;
}

.ExpcardContentFlexHolder {
  display: flex;
  gap: 10px;
}

.ExpcardAccordContainer {
  background-color: white;
}

.btnGetStarted {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: 'Futura PT';
  font-size: 20px;
  padding: 0px 10px;
  font-weight: 700;
  position: sticky;
  bottom: 0;
  height: 50px;
  border-radius: 5px;
  color: white;
}

@media only screen and (min-width: 375px) {
  .ExpcardImg {
    height: 160px;
  }
}

@media only screen and (min-width: 425px) {
  .ExpcardImg {
    height: 170px;
  }
}

@media only screen and (min-width: 768px) {
  .ExpcardImg {
    height: 200px;
  }
}
