.campcontainer{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 35px;
    padding: 5px 10px;
    border-radius: 5px;
    min-width: max-content;
    margin-left: 5%;
    margin-right: 10px;
}

.campactive{
    background-color: white;
    filter: drop-shadow(0px 3px 5px #ececec);
}

.campinactive{
    background-color: black;
    color: white;
}

.campbaractive{
    background-color: black;
}

.campbarinactive{
    background-color: white;
}

.campbar{
    height: 50%;
    width: 2px;
}

.campimg{
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.camptext{
    font-family: 'FuturaPT Demi';
}