.active {
  animation: active 1000ms forwards;
}

.passive {
  animation: passive 1000ms forwards;
}

@keyframes active {
  from {
    top: 2000px;
  }
  to {
    top: 0;
  }
}

@keyframes passive {
  from {
    top: 0;
  }
  to {
    top: 2000px;
  }
}
