.CampaignDescImg{
    height: 90px;
    width: 90px;
}

.CampaignDescContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.CampaignDesctext{
    font-family: 'FuturaPT Demi';   
}