.ExpcardImg{
    height: 200px;
    width: 100%;
}

.ExpcardImgContainer{
    width: 100%;
}

.ExpcardContainer{
    max-width: 450px;
    width: 100%;
    margin-top: 30px;
    position: relative;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(0px 3px 5px #dfdfdf);
}

.ExpshareImg{
    height: 20px;
    width: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.ExpRightItem{
    font-family: 'FuturaPT Demi';
    background-color: white;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.ExpcardContentArea{
    background-image: url("../../assets/confettibg.png");
    padding: 10px;
}

.ExpcardContentTitle{
    font-family: 'FuturaPT Demi';
    font-size: 24px;
}

.ExpcardContentDesc{
    font-family: 'FuturaPT Light';
    font-size: 18px;
    color: rgb(77, 77, 77);
}

.ExpcardContentFlex{
    display: flex;
    font-family: 'FuturaPT Light';
    font-size: 18px;
    margin: 10px 0px;
    align-items: center;
    gap: 10px;
}

.ExpitemImg{
    height: 20px;
    width: 20px;
}

.ExpcardContentFlexHolder{
    display: flex;
    gap: 10px;
}