.homeContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.homeBg,
.homeBgInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--backgrey);
  position: relative;
  height: 100vh;
  /* width: 90%; */
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.campaignholder {
  display: flex;
  width: 100%;
  overflow-x: auto;
  padding: 10px 0px;
  min-height: 50px;

  /* moz */
  scrollbar-width: none;
}

.campaigndescHolder {
  border: solid 1px rgb(175, 175, 175);
  margin: 20px 5%;
  border-radius: 5px;
  padding: 10px 0px;
}

.expcardHolder {
  align-items: center;
  display: flex;
  width: 90%;
  flex-direction: column;
}

.campaignholder::-webkit-scrollbar {
  display: none;
}

.homeBg::-webkit-scrollbar,
.homeBgInner::-webkit-scrollbar {
  display: none;
}

/* media queries */

@media only screen and (min-width: 320px) {
  .homeBg,
  .homeBgInner {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .homeBg,
  .homeBgInner {
    max-width: 460px;
  }
}
