.navbarContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: var(--black);
  width: 100%;
  height: 60px;
  border-radius: 10px 10px 0 0;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .navbarContainer {
    max-width: 460px;
  }
}
