/* caro for carousel */
.caroContainer {
  display: flex;
  margin: 0 4%;
  padding: 4% 0;
  width: 90%;
  /* height: 20vh; */
  z-index: 1;
  /* overflow: hidden; */
}

.caroImg {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5px !important;
}

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 375px) {
  .caroContainer {
    /* max-height: 130px; */
    max-width: 450px;
    padding: min(16px, 4%) 0;
  }

  .caroImg {
    height: 100%;
  }
}

@media only screen and (min-width: 425px) {
}

@media only screen and (min-width: 490px) {
  .caroContainer {
    min-width: 424px;
    margin: 0 18px;
  }

  .caroImg {
    border-radius: 10px;
  }
}
