/* caro for carousel */
.caroContainer {
  margin: 0 4%;
  padding-top: 4%;
  width: 95%;
  height: 20vh;
  z-index: 1;
  overflow: hidden;
}

.caroImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.fade {
  animation: fade 3s;
}

.fade1 {
  animation: fade 3s;
}
.fade2 {
  animation: fade 3s;
}

@keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 375px) {
  .caroContainer {
    max-height: 130px;
    max-width: 450px;
    padding-top: min(16px, 4%);
    width: 95%;
  }

  .caroImg {
    height: 100%;
  }
}

@media only screen and (min-width: 425px) {
}

@media only screen and (min-width: 490px) {
  .caroContainer {
    min-width: 424px;
    margin: 0 18px;
  }

  .caroImg {
    border-radius: 10px;
  }
}
